.name {
    width: 20%;
    font-size: 18px;
    padding: 10px;
    background-color: lightgray;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
}

.title {
    display: flex;
    margin: 10px 0;
}

.input_title {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid grey;
    margin-left: 10px;
    width: 928px;
}

.description_vacancy {
    display: flex;
    margin: 10px 0;
}

.textarea_description_vacancy {
    outline: none;
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
    width: 928px;
}

.city_vacancy {
    display: flex;
    margin: 10px 0;
}

.select_city_vacancy {
    margin-left: 10px;
    padding: 10px;
    width: 950px;
    border-radius: 5px;
    outline: none;
}

.address_vacancy {
    display: flex;
    margin: 10px 0;
}

.address_vacancy_block {

}

.address_vacancy_form {
    display: flex;
    margin-bottom: 10px;
}

.address_vacancy_city {
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 0 10px;
    width: 130px;
    font-size: 14px;
    text-align: center;
}

.salary {
    display: flex;
    margin-bottom: 10px;
}

.experience {
    display: flex;
    margin-bottom: 10px;
}

.button {
    width: 40px;
    margin: 0 10px;
    border-radius: 5px;
    border: 1px solid grey;
}

.input_address {
    outline: none;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 10px;
}

.button_add_address {
    margin: 0 10px 0 10px;
    padding: 10px;
    border-radius: 5px;
    border-color: blue;
    color: blue;
    width: 150px;
}

.input_salary {
    margin-left: 10px;
    padding: 10px;
    width: 448px;
    outline: none;
    border-radius: 5px;
    border: 1px solid grey;
}

.select_experience {
    margin-left: 10px;
    padding: 10px;
    width: 950px;
    outline: none;
    border-radius: 5px;
    border: 1px solid grey;
}

.nav {
    text-decoration: none;
    color: teal;
    font-size: 17px;
    font-weight: bold;
    border: 2px solid teal;
    border-radius: 6px;
    margin-top: 10px;
    padding: 5px;
}